@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap');
.box img{

	border: solid 5px white;

	background-color: black;
	color:white;
}
.box {
	display: flex;
}
.header {
	text-align: center;
	border:solid 5px lime;
}
body{



	font-family: 'Lato', sans-serif;
}
.header {
	background-color: black;
}
.content {
	background-image: url("https://i.ytimg.com/vi/OxMlqsJ_U2c/maxresdefault.jpg");
}
.footer {
	background-color: black;
	height: 100px;
}
h1{
	color :blue;
}
img{
	border: solid 5px lime;
}
body{
	background-image:  black;
}
iframe{
	background-color: black
	border:lime 5px solid;
}